force-app/main/default/flows/Store_CDC_Cache_Counts_Today.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Store_CDC_Counts_For_Today</name>
        <label>Store CDC Counts For Today</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>rcCountCache_StoreCDCForDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CDC_Counts_Stored</targetReference>
        </connector>
        <inputParameters>
            <name>cacheDateList</name>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Store CDC Cache Counts - Today {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store CDC Cache Counts - Today</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CDC_Counts_Stored</name>
        <label>CDC Counts Stored</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;CDC Cache Counts Stored&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Store_CDC_Counts</name>
        <label>Store CDC Counts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_CDC_Counts_For_Today</targetReference>
        </connector>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Store_CDC_Counts</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
